footer{
    /* 寬 */
    width: 100%;
    /* 高 */
    height: 150px;
    /* 設定背景色 */
    background-color: brown
}

/* 子選擇器 */
footer > ul{
    /* 寬 */
    width: 50%;

    /* 間距 */
    padding: 30px;

    background-color: sandybrown;

}