footer{
    /* 寬 */
    width: 100%;
    /* 高 */
    padding:65px 0;
    /* 設定背景色 */
    background-color: brown
}

/* 子選擇器 */
footer > ul{
    /* 寬度 */
    width: 50%;
    /* 外間距 上下為0 左右置中 */
    margin:0 auto;
    /* 背景顏色 */
    background-color: rgb(188, 107, 41);

    text-align: center;

}

footer > ul > li {
     /* 顯示方式 block 或是 inline (行內元素，控制錯誤，脫離框架)需配合寬和高設定*/
    display: inline-block;
    /* 文字置中 */
    text-align: center;
    /* 內間距取代高度 */
    padding: 5px 0;
}