<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="index" content="width=device-width, initial-scale=1.0"> <!--device-width 自適應-->
    <title>首頁</title>
    <link rel="stylesheet" href='static/css/style.css'>
</head>

<body>
    <header> 
        <!-- Logo的H1只能夠有1個 -->
        <h1>首頁</h1> 
        
        <!-- 導覽列 -->
        <nav id = 'MainNav'>
            <ul id="NavBut">
                <li class="index"><a href="/">首頁</a></li>
                <li class="lenwords"><a href="/mylearnwords">輸入單字</a></li>
                <li class="findw" ><a href="/entocn">英翻中</a></li>
                <li class="read" ><a href="/read">練習頁</a></li>
                <li class="allwords" ><a href="/allwords">我的單字本</a></li>
            </ul>
        </nav> 
    </header>   

    <main>
        <h2>每日一詞</h2>
        <h3>{{en}}</h3>
        <br>
        <p style="white-space: pre-line;">{{exps}}</p>
    </main>
    

</body>

<!-- 頁尾宣告 -->
<footer> 
  <ul>
    <li>2025 - <span>2026</span> Chkia © 著作權所有，並保留一切權利。</li>
  </ul>
</footer>

</html>