<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="index" content="width=device-width, initial-scale=1.0"> <!--device-width 自適應-->
    <title>首頁</title>
    <link rel="stylesheet" href='static/css/style2.css'>
</head>

<body>
    <header> 
        <!-- Logo的H1只能夠有1個 -->
        <h1>首頁</h1> 
        
        <!-- 導覽列 -->
        <nav id = 'MainNav'>
            <ul id="NavBut">
                <li class="lenwords"><a href="/mylearnwords">單字本</a></li>
                <li class="findw" ><a href="/entocn">英翻中</a></li>
                <li class="read" ><a href="/read">學習頁面</a></li>
            </ul>
        </nav> 
    </header>   

    <main>
        <!-- <img src="/static/image/pikmin.png"> -->
        <h3>每日一詞</h3>
        <ul>{{en}}</ul>
        <br>
        {{exps}}
    </main>
    

</body>

<!-- 頁尾宣告 -->
<footer> 
  <ul>
    <li>2025 - <span>2026</span> Chkia © 著作權所有，並保留一切權利。</li>
  </ul>
</footer>

</html>